astroid==2.2.5
autopep8==1.4.4
chainer==6.2.0
filelock==3.0.12
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
numpy==1.17.0
pipdeptree==0.13.2
progressbar2==3.42.0
protobuf==3.15.0
pycodestyle==2.5.0
pylint==2.3.1
python-utils==2.3.0
six==1.12.0
typed-ast==1.4.0
typing==3.7.4
typing-extensions==3.7.4
wrapt==1.11.2
